# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# 0x
profile-*

# vscode
.vscode
*code-workspace

.wwebjs_cache
.wwebjs_auth
